.pokemon-header-container{
    width: 100% !important;
    color: white;
    background-color: #01414B;
    height: 60px !important;
    justify-content: space-between;
    align-items: center;
    display: flex;
    @media screen and (max-width: 400px) {
        width: 100% !important;
    }
    .phc-logo{
        p {
            margin: 0px;
            margin-left: 15px;
        }
    }

    .phc-nav-menu{
        display: flex;
        gap: 20px;
        margin-right: 15px;


        p{
            margin: 0px;
            cursor: pointer;
            &:hover{
                color: red;
            }
        }
    }
    
}